@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #747bff;
  --vp-c-brand-3: #8d91ff;
  --vp-c-brand-soft: rgba(100, 108, 255, 0.14);

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );
}

/* Terminal style for code blocks */
.vp-doc [class*="language-"] {
  border-radius: 8px;
  background-color: #011627 !important;
  border: 1px solid #1e293b;
}

/* Monoco branding integrations */
body {
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: #0f172a; /* Slate 900 */
}

.dark {
  --vp-c-bg: #0f172a;
  --vp-c-bg-alt: #1e293b;
  --vp-c-bg-elv: #1e293b;
  --vp-c-bg-soft: #1e293b;
}
